<h2>My Invoices</h2>

{{log model}}

<div class="row">
    <div class="col-sm-5">
        <ul class="list-group">
            {{#each model as |invoice|}}
                {{log invoice}}
                <li class="list-group-item">
                    {{invoice.invoiceNumber}}
                    {{link-to 'Details' 'invoice' invoice.id}}
                </li>
            {{else}}
                No Invoice
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-7">
        {{outlet}}
    </div>
</div>
