<h1>Invoices</h1>

{{log model}}

<div class="row">
    <div class="col-sm-5">
        <ul class="list-group">
            {{#each model as |invoice|}}
                {{log invoice}}
                <li class="list-group-item">{{invoice.invoiceNumber}}</li>
            {{else}}
                No Invoice
            {{/each}}
        </ul>
    </div>
</div>

{{outlet}}
